/* Fonts */

@font-face {
  font-family: 'Manrope';
  src: url('assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto-regular';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Space Mono';
  src: url('assets/fonts/SpaceMono/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'Space Mono Bold';
  src: url('assets/fonts/SpaceMono/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/JetBrainsMono/JetBrainsMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Rubik Regular';
  src: url('assets/fonts/Rubik/static/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik Medium';
  src: url('assets/fonts/Rubik/static/Rubik-Medium.ttf');
}


/* Colors */

:root {
  /* Article Preview */

  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --share-color: #6E8098;
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* Newsletter */

  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --newsletter-grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* Time Tracking */

  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  /* Calculator */

  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --light-cyan: #9FE8DF;
  --error: #E17457;

  /* Password */

  --password-red: #F64A4A ;
  --orange: #FB7C58;
  --yellow: #F8CD65;
  --neon-green: #A4FFAF;
  --almost-white: #E6E5EA;
  --password-grey: #817D92;
  --dark-grey: #24232C;
  --very-dark-grey: #18171F;

  /* Quiz App */

  --purple: #A729F5;
  --pure-white: #FFFFFF;
  --dark-navy: #313E51;
  --grey-navy: #626C7F;
  --light-grey: #F4F6FA;
  --navy: #3B4D66;
  --light-bluish: #ABC1E1;
  --green: #26D782;
  --quiz-red: #EE5454;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
